[submodule "FSS"]
	path = FSS
	url = https://github.com/shailpatels/FSS.git
[submodule "VisualLogic-Web"]
	path = VisualLogic-Web
	url = https://github.com/shailpatels/VisualLogic-Web.git
[submodule "FiniteStates"]
	path = FiniteStates
	url = git@github.com:shailpatels/FiniteStates.git
