*{
    margin: 0px;
    padding: 0px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}
hr{
    border-top: 1.5px solid black;
    border-bottom: 0px;
}
a:link, a:visited{
	color:inherit;
}

.flex_section{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.flex_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_link{
    padding-left: 10px;
    text-decoration: underline;
}

a:hover{
    color: blue;
}

.project{
    width: 60%;
    overflow: none;
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px grey;
    z-index: 1;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h_list{
	display: flex;
	flex-direction : row;
	justify-content : space-between;
	align-items:center;
}
.h_item{
    padding-left: 10px;
    padding-right: 10px;
}
.background_img{
    width: 100%;
    height: 250px; 
    align-items: center;
    opacity: 0.8;
}
.fas, .fab{
	color:black;
}
.fas:hover, .fab:hover{
	color:#319e3d;
}
.demo_link{
	height 15px;
	padding: 10px;
	background-color:#319e3d;
	border-radius : 25px;
	color: white;
    box-shadow: 2px 2px 5px grey;
}
.demo_link:hover{
	box-shadow : none;
}

.research{
    box-shadow: 2px 2px 5px grey;
    padding: 15px;
}

#name{
    background-color: #319e3d;
    color: white;
    width: 400px;
    height: 100px;
    text-align: center;
}
#social{
    position: fixed;
    width: 60px;
    right: 0px;
    top : 40%;
    height: 125px;
    background-color: white;
    z-index: 1;
    box-shadow: 2px 2px 5px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content{
    flex-direction: column;
    align-items: center;
}
#footer{
    margin-top: 15px;
	background-color: #319e3d;
	width:100%;
	height:60px;
    position: relative;
    bottom: 0px;
}
