*{
    margin: 0px;
    padding: 0px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}
hr{
    border-top: 1.5px solid black;
    border-bottom: 0px;
}
.flex_section{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.project{
    width: 60%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background_img{
    width: 100%;
    height: 250px; 
    align-items: center;
}

#name{
    background-color: #319e3d;
    color: white;
    width: 400px;
    height: 100px;
    text-align: center;
}

#content{
    flex-direction: column;
    align-items: center;
}